{% trans_default_domain 'JMoseCommandScheduler' %}
<!DOCTYPE html>
<html lang="{{ app.request.attributes.get('_locale', 'en') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Command Scheduler</title>
    <link href="{{ asset('bundles/jmosecommandscheduler/vendor/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('bundles/jmosecommandscheduler/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('bundles/jmosecommandscheduler/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('bundles/jmosecommandscheduler/vendor/font-awesome/css/font-awesome.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('bundles/jmosecommandscheduler/vendor/datatables/media/css/dataTables.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('bundles/jmosecommandscheduler/css/global.css') }}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("jmose_command_scheduler_list_overview") }}">{{ 'name'|trans }}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown"
                       class="dropdown-toggle" href="#">{{ "menu.commands.title"|trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('jmose_command_scheduler_list_details', {'_type' :'commands'}) }}">{{ "menu.commands.overview"|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('jmose_command_scheduler_detail_command_new') }}">{{ "menu.commands.new"|trans }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown"
                       class="dropdown-toggle" href="#">{{ "menu.rights.title"|trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('jmose_command_scheduler_list_details', {'_type' :'rights'}) }}">{{ "menu.rights.overview"|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('jmose_command_scheduler_detail_right_new') }}">{{ "menu.rights.new"|trans }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown"
                       class="dropdown-toggle" href="#">{{ "menu.tools.title"|trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('jmose_command_scheduler_list_details', {'_type' :'executions'}) }}">{{ "menu.tools.executions"|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('jmose_command_scheduler_status') }}">{{ "menu.tools.monitor"|trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2>{% block title %}{% endblock title %}</h2>

                {# Succes flash messages #}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {# Errors flash messages #}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block content %}{% endblock content %}
            </div>
        </div>
        <hr>
        <!--
        <footer>
            <p>&copy; Company</p>
        </footer>
        -->
    </div>
</div>
<!-- /container -->

{% include 'JMoseCommandSchedulerBundle:Tools:lang.html.twig' %}

<script type="text/javascript"
        src="{{ asset('bundles/jmosecommandscheduler/vendor/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/jmosecommandscheduler/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/jmosecommandscheduler/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/jmosecommandscheduler/vendor/bs-confirmation/bootstrap-confirmation.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/jmosecommandscheduler/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('bundles/jmosecommandscheduler/vendor/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/global.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/cron.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/table.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/graph.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/execution.js') }}"></script>

</body>
</html>
