{% extends "JMoseCommandSchedulerBundle::layout.html.twig" %}
{% trans_default_domain 'JMoseCommandScheduler' %}

{% block title %}
    {{ command.name }} - {{ 'list.previousExecutions'|trans }}
{% endblock title %}

{% block content %}
    <div class="table-responsive table-stripped">
        <table class="table">
            <thead>
            <tr>
                <th>{{ "execution.run"|trans }}</th>
                <th>{{ "execution.runtime"|trans }}</th>
                <th>{{ "execution.returnCode"|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for execution in executions %}
                <tr>
                    <td>{{ execution.executionDate|date( "dateFormat"|trans ) }}</td>
                    <td>{{ execution.runtime }}</td>
                    <td>{{ execution.returnCode }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('jmose_command_scheduler_list', {'_type':'commands'}) }}" class="btn btn-primary btn-lg pull-right"
       role="button">{{ "action.backList"|trans }} »</a>

    {#<script type="text/javascript">#}
        {#var data = {{ executions|json_encode }};#}
        {#initFunction = 'initRuntimeGraph';#}
    {#</script>#}
{% endblock content %}
