{% extends "@JMoseCommandScheduler/layout.html.twig" %}
{% trans_default_domain 'JMoseCommandScheduler' %}

{% block title %}
    {{ 'list.title'|trans }}
{% endblock title %}

{% block content %}
    <div class="table-responsive table-stripped">
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ "detail.name"|trans }}</th>
                <th>{{ "detail.command"|trans }}</th>
                <th>{{ "detail.cronExpression"|trans }}</th>
                <th>{{ "detail.logFile"|trans }}</th>
                <th>{{ "detail.lastExecution"|trans }}</th>
                <th>{{ "detail.lastReturnCode"|trans }}</th>
                <th>{{ "detail.priority"|trans }}</th>
                <th>{{ "detail.actions"|trans }}</th>
            </tr>
        </thead>

        <tbody>
        {% for command in scheduledCommands %}
            <tr {% if command.disabled == true %}class="text-muted" {% endif %}>
                <td>
                    <a href="{{ path('jmose_command_scheduler_action_toggle', {'id': command.id}) }}" >
                    {% if command.disabled == true %}
                        <span class="text-danger glyphicon glyphicon-off"></span> <span class="sr-only">&nbsp;</span>
                    {% else %}
                        <span class="text-success glyphicon glyphicon-off"></span> <span class="sr-only">&nbsp;</span>
                    {% endif %}
                    </a>
                </td>
                <td>
                    {{ command.name }}
                </td>
                <td>
                    {{ command.command }} {{ command.arguments }}
                </td>
                <td>
                    {{ command.cronExpression }}
                </td>
                <td>
                    {{ command.logFile }}
                </td>
                <td>
                    {{ command.lastExecution|date( "dateFormat"|trans ) }}
                </td>
                <td>
                    {{ command.lastReturnCode }}
                </td>
                <td>
                    {{ command.priority }}
                </td>
                <td style="min-width: 90px;">
                    {% if command.locked == true %}
                        <a href="#" data-href="{{ path('jmose_command_scheduler_action_unlock', {'id': command.id}) }}" data-toggle="confirmation" data-btnOkLabel="{{ "action.unlock"|trans }}" data-title="{{ "confirm.unlock"|trans }}" >
                            <span class="text-muted glyphicon glyphicon-lock"></span> <span class="sr-only">{{ "action.unlock"|trans }}</span>
                        </a>
                    {% endif %}
                    <a href="{{ path('jmose_command_scheduler_detail_edit', {'scheduledCommandId': command.id}) }}" >
                        <span class="text-info glyphicon glyphicon-pencil"></span> <span class="sr-only">{{ "action.edit"|trans }}</span>
                    </a>
                    <a href="#" data-href="{{ path('jmose_command_scheduler_action_remove', {'id': command.id}) }}" data-toggle="confirmation" data-btnOkLabel="{{ "action.delete"|trans }}" data-title="{{ "confirm.delete"|trans }}" >
                        <span class="text-danger glyphicon glyphicon-trash"></span> <span class="sr-only">{{ "action.delete"|trans }}</span>
                    </a>
                    <a href="#" data-href="{{ path('jmose_command_scheduler_action_execute', {'id': command.id}) }}" data-toggle="confirmation" data-btnOkLabel="{{ "action.execute"|trans }}" data-title="{{ "confirm.execute"|trans }}">
                        <span class="text-{% if command.executeImmediately == true %}muted{% else %}success{% endif %} glyphicon glyphicon-play"></span> <span class="sr-only">{{ "action.execute"|trans }}</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('jmose_command_scheduler_detail_new') }}" class="btn btn-primary btn-lg pull-right" role="button">{{ "action.new"|trans }} »</a>
{% endblock content %}
