{% extends "JMoseCommandSchedulerBundle::layout.html.twig" %}

{% block title %}
    {{ 'commandeScheduler.detail.title'|trans }}
{% endblock title %}

{% block content %}

    {% set styleConfiguration = {'class': 'form-control'} %}
    <div class="col-lg-6 col-sm-12">
        {{ form_start( scheduledCommandForm, {'action': path('jmose_command_scheduler_detail_save')} ) }}

            {# Form's fields #}
            {{ form_row( scheduledCommandForm.id ) }}
            {{ form_row( scheduledCommandForm.name, {'attr': styleConfiguration|merge({'placeholder': 'name'}) } ) }}
            {{ form_row( scheduledCommandForm.command, {'attr': styleConfiguration } ) }}
            {{ form_row( scheduledCommandForm.arguments, {'attr': styleConfiguration|merge({'placeholder': '--argument1=foo --bar'}) } ) }}
            {{ form_row( scheduledCommandForm.cronExpression, {'attr': styleConfiguration|merge({'placeholder': '*/10 * * * *'}) } ) }}
            {{ form_row( scheduledCommandForm.logFile, {'attr': styleConfiguration|merge({'placeholder': 'myFile.log'}) } ) }}
            {{ form_row( scheduledCommandForm.priority, {'attr': styleConfiguration } ) }}
            {{ form_row( scheduledCommandForm.executeImmediately, {'attr': styleConfiguration } ) }}
            {{ form_row( scheduledCommandForm.disabled, {'attr': styleConfiguration } ) }}

            {# Form's actions #}
            <a href="{{ path('jmose_command_scheduler_list') }}" class="btn btn-default btn-lg" role="button">Cancel</a>
            {{ form_row( scheduledCommandForm.save, {'attr': {'class': 'btn btn-success btn-lg pull-right'} } ) }}

        {{ form_end( scheduledCommandForm ) }}
    </div>
{% endblock content %}

